*{margin: 0; padding: 0;}

html, body{
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}


/*===========Grid System===========*/

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 270px 1fr 1fr 1fr;
  grid-template-rows: 400px 0.7fr 1fr 1fr 50px;
  grid-gap: 0px 0px;
  grid-template-areas: 
  "sidebar Banner Banner Banner" 
  "sidebar Portfolio Portfolio Portfolio" 
  "sidebar . . ." "sidebar . . ."
  "sidebar . . ." "sidebar . . .";
}

.grid-container div:after { 
  /*content: attr(class);*/ 
  color: #888; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  font-family: arial;
}

.banner { grid-area: Banner; }

.about-me { grid-area: Portfolio; }

.sidebar {
  display: grid;
  grid-area: sidebar;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". ." ". .";
}

.portfolio { grid-area: 3 / 2 / 4 / 5; }

.contact { grid-area: 4 / 2 / 5 / 5; }

.footer {
  grid-area: 5 / 2 / 6 / 5;
  background: #f6faff;
  vertical-align: center;
  color: #5975ca;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
}

.footer span{
  margin-left: 5%;
}

/*===========Banner===========*/
.banner {
  background-image: url(../images/cover.jpg);
  height: 400px;
  background-size: cover;
  position: relative;
  border-radius: 8px;
}

.banner .wrap-text{
  width: 84%;
  border-radius: 14px;
  background-image: linear-gradient(to left, #4f46ea, #2179d8);
  margin-left:5%;
  color: #fff;
  position: absolute;
  top: 20%;
  padding:4% 5%;
}

.wrap-text h1{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.wrap-text h1:before{
  background: url(../images/bitmap_4.png);
  background-repeat: no-repeat;
  width: 34px;
  height: 38px;
  content: "";
  float: left;
  margin-right: 20px;
  margin-top: -9px;
}

.wrap-text p{
  width:65%;
}

.wrap-text span {
  background-color: #ffffff1a;
  border-radius:4px;
  color: #fff;
  font-size: 13px;
  text-align: right;
  padding: 2px 10px;
}

/*===========sidebar===========*/
.sidebar{
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-wrap: wrap;
  /*! align-items: flex-start; */
  position: fixed;
  height: 100%;
  width: 270px;
  align-content: flex-start;
}

.sidebar .top-sidebar{
  margin: 0 auto;  
  padding-top: 30px;
}

.sidebar .top-sidebar img{
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.sidebar .top-sidebar h2{
  font-size: 20px;
  font-weight: bold;
  color: #373737;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#4f46ea), to(#2179d8)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(top, #4f46ea, #2179d8) 1 100%;
  -o-border-image: -o-linear-gradient(top, #4f46ea, #2179d8) 1 100%;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#4f46ea), to(#2179d8)) 1 100%;
  border-image: linear-gradient(to bottom, #4f46ea, #2179d8) 1 100%;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 10%;
}

.sidebar .top-sidebar h3{
  font-size: 16px;
  color: #373737;
  padding-left: 12%;
}

.sidebar ul{
  list-style:none;
  width: 100%;
  position: absolute;
  left: 10%;
  top: 350px;
}

.sidebar ul li{
  /*! width: 100%; */
  /*! height: 70px; */
  line-height: 70px;
  text-align:left;
  padding-left: 25px;
  border-radius: 4px;
  /*! position: fixed; */
}

.sidebar ul li:hover a, ul li a:hover, ul li:hover{
  cursor: pointer;
  color: #fff;
}

.sidebar ul li a{
  font-size: 15px;
  color: #4c545b;
  text-decoration: none;
  font-weight: 500;
}

.sidebar ul li img {
  margin-right: 30px;
}

.sidebar ul li:hover, .sidebar ul li.active{
  color:#fff;
  background-image: linear-gradient(to right, #de7442, #e0893a);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*===========About-me===========*/
.about-me .wrap {
  margin-left: 1%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5% 0 0 5%;
}

.about-me .wrap .item1{
  
  flex-basis: 50%; 
}

.about-me .wrap .item2{
  flex-basis: 329px;
}

.about-me h1{
  font-size: 28px;
  font-weight: bold;
}

.about-me h1:before{
  background: url(../images/bitmap_3.png);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  content: "";
  float: left;
  margin-right: 20px;
  margin-top: -5px;
}

.about-me p{
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #373737;
}

.about-me button {
  border: solid 1px;
  border-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to left, #4f46ea, #2179d8);
  color: #5975ca;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 10px;
  transition: 0.8s;

}

.about-me button:hover {
  color: #fff;
  background-image: linear-gradient(to left, #4f46ea, #2179d8);
  text-decoration: none;
  transition: 0.8s;
}

/*===========portfolio===========*/
.portfolio {
  background:#f6faff;
  padding-bottom: 5%;
}

.portfolio .wrap {
  margin: 5% 0% 0% 5%;
}

.portfolio h1{
  font-size: 28px;
  font-weight: bold;
}

.portfolio h1:before{
  background: url(../images/bitmap_2.png);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  content: "";
  float: left;
  margin-right: 20px;
  margin-top: -5px;
}

.portfolio p{
  width: 80%;
  font-size: 16px;
  color: #373737;
  line-height: 1.5;
  font-weight: normal;
}

.portfolio button.btn.btn-link, .contact button.btn.btn-link{
  margin-top: 3%;
  background-image: linear-gradient(to left, #4f46ea, #2179d8);
  border-radius: 25px;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 14px;
  text-decoration: none;
  transition: all 2s ease;
}

.portfolio button.btn.btn-link:hover, .contact button.btn.btn-link:hover{
  background-image: linear-gradient(to left, #0e00ff, #007bff);
}


/*===========gallery===========*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 0 !important;
}

.gallery img{

}

.gallery .items{
  position: relative;
  width: 33%;
}

.gallery .items img{
  display: block;
  width: 100%;
  height: auto;
}

.items .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear; /* Firefox 4 */
    -webkit-transition: background-color 0.5s linear; /* Safari and Chrome */
    -o-transition: background-color 0.5s linear; /* Opera */
    -ms-transition: background-color 0.5s linear; /* Explorer 10 */
    background-color:#ff0000;
}

.items:hover .overlay{
  opacity: 1;
  transition-delay: 3s;
}

.gallery .items .title{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

/*===========contact===========*/
.contact{
  
}

.contact .wrap{
  margin: 5% 0% 0% 5%;
  width: 80%;
}

.contact h1{
  font-size: 28px;
  font-weight: bold;
}

.contact h1:before{
  background: url(../images/bitmap.png);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  content: "";
  float: left;
  margin-right: 20px;
  margin-top: -5px;
}

.contact p{
  width: 80%;
  font-size: 16px;
  color: #373737;
  line-height: 1.5;
  font-weight: normal;
}


.contact .inline{
  width:  31%;
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  /*margin-right: 15px;*/
}

/*#inputEmail, #inputPassword, .inputMobile{
  flex: 1 1 auto;
}*/


.contact .inline:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.contact .form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact textarea{
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
  padding: .375rem .75rem;
  resize: none;
}

.contact textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}


